<div class="container">

    <div>
        <div>
            <h3>Ingredient Name</h3>
            <form [formGroup]="ingredientForm">
                <!-- Edit the ingredient's Title -->
                <input formControlName="name">
            </form>
            <div class="btn" (click)="onSubmit()">
                Add ingredient
            </div>
        </div>
        <h3>Select Ingredients:</h3>
        <div class="list-group">

            <div *ngFor="let ingredient of ingredients">
                <div class="btn" (click)="deleteIngredient(ingredient)">
                    ❌
                </div>
                <div class="form-check" class="list-group-item list-group-item-action">
                    <input class="form-check-input" type="checkbox" value="" id="checkbox-id-{{ingredient.id}}"
                        (click)="onSelectIngredient(ingredient)">
                    <label class="form-check-label" for="checkbox-id-{{ingredient.id}}">
                        {{ingredient.name}}
                    </label>
                </div>
            </div>


        </div>

    </div>

    <div>
        <div>
            <h3>Select Drink:</h3>
        </div>
        <li *ngFor="let recipe of filteredRecipe">
            <button [class.selected]="recipe === selectedRecipe" type="button" (click)="onSelectRecipe(recipe)">
                <span class="name">{{recipe.name}}</span>
            </button>
        </li>
    </div>

    <div>
        <div>
            <h3>Recipe:</h3>
        </div>
        <div *ngIf="selectedRecipe">
            <h3>{{selectedRecipe.name}} </h3>
            <!-- <div><h3>Ingredients Needed: {{selectedrecipe.ingredients}}</h3></div> -->
            <div>
                <h3>{{selectedRecipe.recipe}}</h3>
                <div *ngFor="let ingredient of selectedRecipe.ingredients">
                    {{ingredient.name}}
                </div>
            </div>

        </div>
    </div>
</div>