
<!--<h3>
    <nav>
        <a routerLink="/home">Home</a>
        <a routerLink="/drinklist">Drinks</a>
    </nav>
</h3>
-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">🍹Carson's Mixing Guide 🍸</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/drinklist">Drinks</a>
            </li>
        </ul>
        
    </div>
</nav>
